.vs/MotionCapturev2/
Intermediate/AssetRegistryCache/
Intermediate/Build/
Intermediate/Config/
Intermediate/ProjectFiles/
Intermediate/ReimportCache/
Intermediate/CachedAssetRegistry.bin
Intermediate/TargetInfo.json
Binaries/Win64/